table {
  margin-left: auto;
  margin-right: auto;
}
td.mines, td.state, td.time {
  height: 40px;
  width: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

td.game-cell {
  height: 20px;
  width: 20px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

td.flagged {
  background-image: url('./img/Flag_016x016_32.png');
  background-position-x: center;
}

td.mined {
  background-image: url('./img/Mine_016x016_32.png');
}

td.revealed {
  font-family: "Press Start";
  background-color: #C0C0C0;
  font-size: 80%;
  text-align: center;
  border: none;
}
